<div class="jumbotron">
	<!-- the id came from the id of the task. Why is it not meaningful? Title from task title-->
	<h1 id="taskId">Feeding a monkey</h1>
	<!-- from task/shortdesc -->
	<p>Quick introduction to the art and science of monkey feeding</p>

</div>


<!-- task/taskbody/context/@content -->
<h4 class="context">Feed monkeys only when they are hungry
</h2>
<!-- task/taskbody/steps/@content -->
<ol class="steps">
	<!-- task/taskbody/step/@content -->
	<li class="step">Let the monkey know that food is coming
		<!-- task/taskbody/steps/step/substeps/@content -->
		<ul class="list-group">
			<!-- task/taskbody/steps/step/substeps/substep/@content -->
			<li class="list-group-item">Address the monkey in perfect English. Monkeys do not speak Spanish</li>
			<li class="list-group-item">Announce food <b>only</b> if it's coming soon</li>
		</ul>

	</li>
	<li class="step">Serve food cold. Monkeys do not like hot food</li>
</ol>
<img src="eating.jpg" alt="eating">



